@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

.formContainer {
    background-image: url("../../assets/LoginBackground.png");
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formWrapper {
    width: 500px;
    height: 480px;
    border-radius: 12px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, .5), rgba(255, 255, 255, 0.05));
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .logo {
        color: white;
        font-family: "Montserrat Alternates";
        font-weight: bold;
        font-size: 20px;

    }

    form {
        display: flex;
        flex-direction: column;
    }

    input {
        width: 300px;
        margin-top: 20px;
        padding: 15px;
        border: double 3px transparent;
        border-radius: 12px;
        background-color: rgba(255, 255, 255, .5);
        background-image: linear-gradient(to right, rgba(255, 255, 255, .5), rgba(255, 255, 255, 0.05));
        color: #0E242E
    }

    button {
        margin-top: 20px;
        padding: 10px;
        border: double 3px transparent;
        border-radius: 12px;
        background-color: rgba(255, 255, 255, .5);
        background-image: linear-gradient(to right, rgba(255, 255, 255, .5), rgba(255, 255, 255, 0.05));
        cursor: pointer;
    }

    p{
        color: white;
        font-size: 12px;
        margin-top: 10px;
    }

}