.home-page {
    /* Set the background image and size it to cover the entire viewport */
    background-image: url('../../assets/LoginBackground.png');
    background-size: cover;
    background-position: center;
    min-height:  100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
  }