@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');


.auth-container {
    width: 568px;
    height: 550px;
    border-radius: 12px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, .5), rgba(255, 255, 255, 0.05));



}

.title {
    margin-top: 100px;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Montserrat Alternates';

}


.forms {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.input {
    width: 80%;
    height: 40px;
    margin-top: 25px;
    border: double 3px transparent;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, .5);
    background-image: linear-gradient(to right, rgba(255, 255, 255, .5), rgba(255, 255, 255, 0.05));
    color: #0E242E;
    background-image: url('../../assets/icon_person.svg');
    background-repeat: no-repeat;
    background-position: left center;

}
.input_password {
    width: 80%;
    height: 40px;
    margin-top: 25px;
    border: double 3px transparent;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, .5);
    background-image: linear-gradient(to right, rgba(255, 255, 255, .5), rgba(255, 255, 255, 0.05));
    color: #0E242E;
    background-image: url('../../assets/icon_password.svg');
    background-repeat: no-repeat;
    background-position: left center;

}

.button {
    width: 25%;
    height: 40px;
    margin-top: 90px;
    color: white;
    border: double 3px transparent;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, .5);
    background-image: linear-gradient(to right, rgba(255, 255, 255, .5), rgba(255, 255, 255, 0.05));
}
